.automation/test/xml/fix/xsd_fix_1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
         targetNamespace=     "https://www.w3schools.com"
        xmlns="https://www.w3schools.com"
          elementFormDefault="qualified">
<xs:element name="specification">
  <xs:complexType>
    <xs:sequence>
       <xs:element name="type" type="xs:string"/>
      <xs:element name="model" type="xs:string"/>
         <xs:element
      name="screenSizeInch" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
 </xs:element>
    </xs:schema>
